CompileFlags:
  CompilationDatabase: build/
  Add: [
    -xc++,
    -std=c++23,
    -Wall,
    -Wno-missing-prototypes,
    #????????????/
    # -isystem/nix/store/68ndh04pl2hhhizsarvzwa9cnlp7zj3d-gcc-14.3.0/include/c++/14.3.0,
    # -isystem/nix/store/68ndh04pl2hhhizsarvzwa9cnlp7zj3d-gcc-14.3.0/include/c++/14.3.0/x86_64-unknown-linux-gnu 
  ]
  # Remove extra warnings specified in compile commands.
  # Single value is also acceptable, same as "Remove: [-mabi]"
  Remove: -mno-direct-extern-access -std=gnu23
#
# Diagnostics:
  # Tweak Clang-Tidy checks.
  # ClangTidy:
  #   Add: [performance*, modernize*, readability*]
  #   Remove: [modernize-use-trailing-return-type]
  #   CheckOptions:
  #     readability-identifier-naming.VariableCase: CamelCase
# ---
# # Use Remote Index Service for LLVM.
# If:
#   # Note: This is a regexp, notice '.*' at the end of PathMatch string.
#   PathMatch: /path/to/llvm/.*
# Index:
#   External:
#     Server: clangd-index.llvm.org:5900
#     MountPoint: /path/to/llvm/
